<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- JSON ログを出力する encoder -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Pretty Print -->
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
        </encoder>

    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
